.register {
  form {
    display: grid;
    place-items: center;
    width: 100vw;
    height: 30vh;

    .text {
      border-radius: 10px;
      outline: none;
      border: none;
      background-color: aqua;
      color: black;
      height: 30px;
      width: 400px;
      margin-bottom: 10px;
      padding-left: 30px;
    }
  }
}
